extends ../layout.pug

block content
  main.page-content
    include ../partials/categories.pug
    section.tickets-list
      h2.visually-hidden Предложения из категории электроника
      div(class='tickets-list__wrapper')
        div(class='tickets-list__header')
          p(class='tickets-list__title') #{categories.find((category) => category.id === Number(id)).name}
            b.js-qty #{count}
        ul
          each offer, index in offers
            li(class='tickets-list__item')
              div(class=`ticket-card ticket-card--color${('0' + (index + 1)).slice(-2)}`)
                div(class='ticket-card__img')
                  img(src=`/img/${offer.picture}` alt=offer.title)
                div(class='ticket-card__info')
                  +ticketLabel(offer.type.name)
                  div(class='ticket-card__categories')
                    each category in offer.categories
                      a(href=`/offers/category/${category.id}`) #{category.name}
                  div(class='ticket-card__header')
                    h3(class='ticket-card__title')
                      a(href=`offers/${offer.id}`) #{offer.title}
                    p(class='ticket-card__price')
                      span.js-sum #{offer.sum}
                      | ₽
                  div(class='ticket-card__desc')
                    p Продам свое старое кресло, чтобы сидеть и читать книги зимними...
        +pagination(page, totalPages, 8, '?')
